.ocultarP{
    display: none;
    margin: 20px 0;
}
.mostrarP{
    margin: 20px 0;
}

.cajaPersonaje .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cajaPersonaje h3{
    margin: 0;
}
